:root{
    --primary-color:#035752;
    --secondary-color:#D19A29;
    --primary-font:font-family: 'Roboto', sans-serif;
    --secondary-font:font-family: 'Roboto', sans-serif;
    --accent-font: 'Dancing Script', cursive;
}
body{
    font-family: var(--secondary-font);
}
h1{
    font-family:var(--accent-font);
}
h2, h3, h4, h5, h6{
    font-family: var(--primary-font);

}



.logo{

    max-height: 40px;
}



.active{
    color: var(--primary-color)!important;
    
}
.nav-item{
    padding: 0 12px;
}
.nav-link:hover{
    color: var(--secondary-color) !important;
}

.hero-square{
    background-color:#F8F4F1;
    color:#035752;
    padding: 50px 90px;}

    
.IG-link{
    color: var(--primary-color);
    padding-left: 5px;
    font-size: x-large;
    transition: all 100ms ease-in-out;
}
.IG-link:hover{
    color:var(--secondary-color);
    
}
.subtitle{
    text-transform: uppercase;
    color:var(--primary-color);
}
.fa-heart{
    color:palevioletred;
}

@media(max-width: 600px){
    img{
        margin-bottom: 20px;
        margin-bottom: 20px;
    }
    h1{
        font-size: 1.5em;
    }

    .about-img{
        min-width: 80%;
    }
}
